@model MvcAnalisisArchivos.Models.DTO.UserLiveCycleDTO

@{
    ViewBag.Title = "withdrawMoney";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
    </style>
</head>
<body>
    <h1>ATM BALANCE: $@Html.DisplayFor(model => model.Atm.Balance)</h1>
        



    @using (Html.BeginForm("withdrawMoney", "menu", FormMethod.Post, new { id = "withdrawForm" }))
    {

        <dt>
           <p> YOUR BALANCE:</p> 
        </dt>

        <dd>
            <p>$@Html.DisplayFor(model => model.User.Balance)</p> 
        </dd>

        <label for="amount">Monto de retiro:</label>
        <input id="amount" name="retiroAmount" placeholder="Ingrese el monto" required>
        <button type="submit" value="Save" form="withdrawForm">Realizar Retiro</button>
    }

    <div>
        @Html.ActionLink("Back", "mainMenu")
    </div>


</body>
</html>